@font-face {
  font-family: "AngleciaProTitle-Bold";
  src: url(/files/fonts/Angelica/AngleciaProTitle-Bold.eot);
  src: url(/files/fonts/Angelica/AngleciaProTitle-Bold.eot?#iefix) format("embedded-opentype"), url(/files/fonts/Angelica/AngleciaProTitle-Bold.woff2) format("woff2"), url(/files/fonts/Angelica/AngleciaProTitle-Bold.woff) format("woff"), url(/files/fonts/Angelica/AngleciaProTitle-Bold.ttf) format("truetype"), url(/files/fonts/Angelica/AngleciaProTitle-Bold.svg#AngleciaProTitle-Bold) format("svg");
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Bold";
  src: url(/files/fonts/Geometria/Geometria-Bold.eot);
  src: url(/files/fonts/Geometria/Geometria-Bold.eot?#iefix) format("embedded-opentype"), url(/files/fonts/Geometria/Geometria-Bold.woff2) format("woff2"), url(/files/fonts/Geometria/Geometria-Bold.woff) format("woff"), url(/files/fonts/Geometria/Geometria-Bold.ttf) format("truetype"), url(/files/fonts/Geometria/Geometria-Bold.svg#Geometria-Bold) format("svg");
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Medium";
  src: url(/files/fonts/Geometria/Geometria-Medium.eot);
  src: url(/files/fonts/Geometria/Geometria-Medium.eot?#iefix) format("embedded-opentype"), url(/files/fonts/Geometria/Geometria-Medium.woff2) format("woff2"), url(/files/fonts/Geometria/Geometria-Medium.woff) format("woff"), url(/files/fonts/Geometria/Geometria-Medium.ttf) format("truetype"), url(/files/fonts/Geometria/Geometria-Medium.svg#Geometria-Medium) format("svg");
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Regular";
  src: url(/files/fonts/Geometria/Geometria-Regular.eot);
  src: url(/files/fonts/Geometria/Geometria-Regular.eot?#iefix) format("embedded-opentype"), url(/files/fonts/Geometria/Geometria-Regular.woff) format("woff"), url(/files/fonts/Geometria/Geometria-Regular.ttf) format("truetype"), url(/files/fonts/Geometria/Geometria-Regular.svg#Geometria-Regular) format("svg");
  font-style: normal;
}
