@import "mixins/grid";

@import "varpoint";



html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container,
.container-fluid {
  @include make-container();
}

.row {
  @include make-row();
}

// Удалить отрицательное поле по умолчанию .row
.no-gutters {
  margin-left: 0;
  margin-right: 0;
  // Предотвратить наследование стиля
  > .col,
  > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

@each $infix in $grid-infixes {
  @include breakpoint($infix) {
    $-infix: breakpoint-infix($infix);

    .container {
      @include make-container();
      max-width: $grid-columns * map-get($grid-column-width, $infix);
    }

    // Базовые классы '.col-{bp}'
    .col#{$-infix} {
      @include make-col-ready();
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    .col#{$-infix}-auto {
      @include make-col-ready();
      flex: 0 0 auto;
      max-width: none; // Сбросить предыдущие уровни сетки
      width: auto;
    }

    @for $i from 1 through $grid-columns {
      .col#{$-infix}-#{$i} {
        @include make-col-ready();
        @include make-col($infix, $i);
      }
    }

    .order#{$-infix}-first {
      order: -1;
    }

    .order#{$-infix}-last {
      order: $grid-columns + 1;
    }

    @for $i from 0 through $grid-columns {
      .order#{$-infix}-#{$i} {
        order: $i;
      }
    }

    // '$columns - 1' потому что смещение по ширине всей строки невозможно
    @for $i from 0 through ($grid-columns - 1) {
      @if not ($-infix == "" and $i == 0) { // Избежать бесполезный .offset-0
        .offset#{$-infix}-#{$i} {
          @include make-col-offset($infix, $i);
        }
      }
    }
  }
}
